@font-face {
	font-family: 'EpiceneDisplayRegularItalic';
	font-style: normal;
	font-weight: normal;
	font-display: swap;
	src: url('../assets/fonts/Epicene/EpiceneDisplay-RegularItalic.woff2') format('woff2');
}

@font-face {
	font-family: 'EpiceneDisplayRegular';
	font-style: normal;
	font-weight: normal;
	font-display: swap;
	src: url('../assets/fonts/Epicene/EpiceneDisplay-Regular.woff2') format('woff2');
}

@font-face {
	font-family: 'EpiceneDisplayLight';
	font-style: normal;
	font-weight: normal;
	font-display: swap;
	src: url('../assets/fonts/Epicene/EpiceneDisplay-Light.woff2') format('woff2');
}

@font-face {
	font-family: 'EpiceneDisplayLightItalic';
	font-style: normal;
	font-weight: normal;
	font-display: swap;
	src: url('../assets/fonts/Epicene/EpiceneDisplay-LightItalic.woff2') format('woff2');
}

@font-face {
	font-family: 'RomieRegular';
	font-style: normal;
	font-weight: normal;
	font-display: swap;
	src: url('../assets/fonts/Romie/RomieTrial-Regular.otf') format('opentype');
}

@font-face {
	font-family: 'RomieMedium';
	font-style: normal;
	font-weight: normal;
	font-display: swap;
	src: url('../assets/fonts/Romie/RomieTrial-Medium.otf') format('opentype');
}

@font-face {
	font-family: 'RomieRegularItalic';
	font-style: normal;
	font-weight: normal;
	font-display: swap;
	src: url('../assets/fonts/Romie/RomieTrial-Regular-Italic.otf') format('opentype');
}

* {
	/* OTF Font Types */
	font-feature-settings: 'ss05' 1, 'ss02' 1, 'ss06' 1;

	/* hide scrollbar for IE, Edge and Firefox */
	-ms-overflow-style: none;
	scrollbar-width: none;

	/* hide scrollbar for chrome, safari and opera */
	.container::-webkit-scrollbar {
		display: none;
	}
}


