@font-face {
    font-family: "EpiceneDisplayRegularItalic";
    font-style: normal;
    font-weight: normal;
    font-display: swap;
    src: url("../assets/fonts/Epicene/EpiceneDisplay-RegularItalic.woff2") format("woff2");
}

@font-face {
    font-family: "EpiceneDisplayRegular";
    font-style: normal;
    font-weight: normal;
    font-display: swap;
    src: url("../assets/fonts/Epicene/EpiceneDisplay-Regular.woff2") format("woff2");
}

@font-face {
    font-family: "EpiceneDisplayLight";
    font-style: normal;
    font-weight: normal;
    font-display: swap;
    src: url("../assets/fonts/Epicene/EpiceneDisplay-Light.woff2") format("woff2");
}

@font-face {
    font-family: "EpiceneDisplayLightItalic";
    font-style: normal;
    font-weight: normal;
    font-display: swap;
    src: url("../assets/fonts/Epicene/EpiceneDisplay-LightItalic.woff2") format("woff2");
}

@font-face {
    font-family: "RomieMedium";
    font-style: normal;
    font-weight: normal;
    font-display: swap;
    src: url("../assets/fonts/Romie/Romie-Medium.woff2") format("woff2");
}